<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="MsfConfig" type="Microsoft.SolverFoundation.Services.MsfConfigSection,
                Microsoft.Solver.Foundation,
                Version=3.0,
                Culture=neutral,
                PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true"/>
  </configSections>
  <MsfConfig>
    <MsfPluginSolvers>
      <MsfPluginSolver name="MosekMip" capability="MILP" assembly="MosekMsfPlugin" solverclass="SolverFoundation.Plugin.Mosek.MosekMipSolver" directiveclass="SolverFoundation.Plugin.Mosek.MosekMipDirective" parameterclass="SolverFoundation.Plugin.Mosek.MosekMipSolverParams"/>
      <MsfPluginSolver name="MosekIP" capability="QP" assembly="MosekMsfPlugin" solverclass="SolverFoundation.Plugin.Mosek.MosekInteriorPointSolver" directiveclass="SolverFoundation.Plugin.Mosek.MosekInteriorPointMethodDirective" parameterclass="SolverFoundation.Plugin.Mosek.MosekInteriorPointSolverParams"/>
      <MsfPluginSolver name="MosekSimplex" capability="LP" assembly="MosekMsfPlugin" solverclass="SolverFoundation.Plugin.Mosek.MosekSimplexSolver" directiveclass="SolverFoundation.Plugin.Mosek.MosekSimplexDirective" parameterclass="SolverFoundation.Plugin.Mosek.MosekSimplexSolverParams"/>
    </MsfPluginSolvers>
  </MsfConfig>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
